body {
	display: flex;
	flex-direction: column;
	background-color: rgb(240, 240, 240);
	max-width: none;
}

h1 {
	text-align: center;
	margin: 1vh 0;
}

h2 {
	text-align: center;
	margin: 1vh 0;
}

.automation-table {
	align-self: center;
	table-layout: fixed;
	border: solid 3px rgb(100, 100, 100);
	padding: 3px;
}

.automation-box {
	height: 8px;
	width: 8px;
	padding: 0;
	border: 0;
	margin: 0;
}

.demo {
	display: flex;
	flex-direction: column;
}

.config {
	display: flex;
	align-self: center;
	align-items: center;
}

.config-header {
	margin-right: 2vw;
	text-align: right;
}

.config-info {
	padding-left: 20px;
	border-left: solid 1px black;
	align-self: center;
}

.config-text {
	margin: 0.3em 0;
}

.init {
	margin-bottom: 0.5em;
}

.init-text {
	margin: 0.3em 0;
	text-align: center;
}

.init-items {
	margin: 0 8px;
}

.introduction {
	overflow: hidden;
}

.controls {
	align-self: center;
	margin-bottom: 2vh;
}

.footer {
	padding: 10px 0;
	text-align: center;
	margin-top: 10vh;
}

.footer-menu {
	font-size: 14px;
	margin: 0 8px;
}